#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#background-image {
    left: 20%;
}

.right-image {
    position: absolute;
    width: 80%;
    height: 100%;
}

.new-image {
    top: 0;

    transition: left 900ms ease;
}

.new-image.offscreen {
    left: 100%;
}

.new-image.onscreen {
    left: 20%;
}

#menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;

    min-height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;

    color: #202A70;
}

a {
    color: #202A70;
    text-decoration: none;
}

#header {
    font-size: 90px;
}

#sub-header {
    font-family: 'Cedarville Cursive', cursive;

    font-size: 24px;
    height: 24px;
    width: 100%;
    clear: both;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
}

#cover-photo {
    max-width: 256px;
    height: 256px;
}

.menu-item {
    margin-top: 16px;
    font-size: 18px;
}